.sidebar {
  width: 478px;
  max-width: 90vw;

  .sidebar-header {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
  }

  .sidebar-body {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 194px);
    padding: 1.5rem;
    overflow: scroll;
  }

  .sidebar-footer {
    border-top: 1px solid #e0e0e0;
    position: sticky;
    bottom: 0;
    z-index: 10;
    background: #fff;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
  }
}
