@use 'sass:map';
@use '@angular/material' as mat;

$_palettes: (
  primary: (
    0: #000000,
    10: #001b3f,
    20: #002f65,
    25: #003a7a,
    30: #00458f,
    35: #0050a5,
    40: #005cbb,
    50: #0074e9,
    60: #438fff,
    70: #7cabff,
    80: #abc7ff,
    90: #d7e3ff,
    95: #ecf0ff,
    98: #f9f9ff,
    99: #fdfbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #131c2b,
    20: #283041,
    25: #333c4d,
    30: #3e4759,
    35: #4a5365,
    40: #565e71,
    50: #6f778b,
    60: #8891a5,
    70: #a3abc0,
    80: #bec6dc,
    90: #dae2f9,
    95: #ecf0ff,
    98: #f9f9ff,
    99: #fdfbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #31101d,
    20: #4a2532,
    25: #56303d,
    30: #633b48,
    35: #704654,
    40: #7e5260,
    50: #996a79,
    60: #b58392,
    70: #d29dad,
    80: #efb8c8,
    90: #ffd9e3,
    95: #ffecf0,
    98: #fff8f8,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1c1b1e,
    20: #313033,
    25: #3d3b3e,
    30: #48464a,
    35: #545156,
    40: #605d62,
    50: #79767a,
    60: #938f94,
    70: #aeaaae,
    80: #cac5ca,
    90: #e6e1e6,
    95: #f4eff4,
    98: #fdf8fd,
    99: #fffbff,
    100: #ffffff,
    4: #0f0e11,
    6: #141316,
    12: #201f22,
    17: #2b292d,
    22: #363438,
    24: #3a383c,
    87: #ddd8dd,
    92: #ece7eb,
    94: #f2ecf1,
    96: #f7f2f7,
  ),
  neutral-variant: (
    0: #000000,
    10: #1d1a22,
    20: #322f38,
    25: #3d3a43,
    30: #49454e,
    35: #54515a,
    40: #615d66,
    50: #7a757f,
    60: #948f99,
    70: #afa9b4,
    80: #cac4cf,
    90: #e7e0eb,
    95: #f5eefa,
    98: #fdf7ff,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes,  neutral-variant),
  error: map.get($_palettes, error),
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: $_primary,
    tertiary: $_tertiary,
  )
));
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: $_primary,
    tertiary: $_tertiary,
  )
));
