@use '@angular/material' as mat;
@use 'theme/m3-theme';
@use "theme/mixins/protected-component.theme";

@include mat.core();

$theme: m3-theme.$light-theme;
$dark-theme: m3-theme.$dark-theme;

:root {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: #CCCCCC;
    border-radius: 5px;
  }
}

@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Symbols+Outlined");
@import 'theme/custom_classes';
@import 'theme/inputs';
@import 'theme/table';
@import 'theme/sidebar';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.light-theme {
  @include mat.all-component-themes($theme);
  @include protected-component.theme($theme);
  @include mat.color-variants-backwards-compatibility($theme);
}

body.dark-theme {
  @include mat.all-component-themes($dark-theme);
  @include protected-component.theme($dark-theme);
  @include mat.color-variants-backwards-compatibility($dark-theme);
}
